<div class="home">
  <div class="total-container"><!--Contenedor que tiene todos los elementos de home-->
    <div class = "headers-container">
      <h1>BIENVENIDO</h1>
      <h2>MANEJA TU <br> CUENTA CON <br> ALTA EFICIENCIA</h2>
      <p> Ten la capacidad de manejar tu cuenta corriente desded la ubicación en la que
        te encuentres</p>
    </div>
    <div class="buttons-container"> <!--contenedor de botones-->
      <button mat-flat-button color="primary" [routerLink]="['/register']">Registrate</button>
      <button mat-button>Mas sobre MTCuenta</button>
    </div>
  </div>

</div>
